#open-all{
    z-index: 999999;
    position: fixed;
    right: 37px;
    bottom: 15px;
}

#controls{
    z-index: 999999;
    position: fixed;
    left: calc(50vw + 5px);
    bottom: 15px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 20%) 0 0 5px 5px;
    user-select: none;
}

#controls label{
    display: block;
}